<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_InvoiceRequest>
            <version>1.0.0</version>
        </Webgriffe_InvoiceRequest>
    </modules>
    <global>
        <models>
            <webgriffe_invoicerequest>
                <class>Webgriffe_InvoiceRequest_Model</class>
                <resourceModel>webgriffe_invoicerequest_resource</resourceModel>
            </webgriffe_invoicerequest>
            <webgriffe_invoicerequest_resource>
                <class>Webgriffe_InvoiceRequest_Model_Resource</class>
            </webgriffe_invoicerequest_resource>
            <checkout>
                <rewrite>
                    <type_onepage>Webgriffe_InvoiceRequest_Model_Checkout_Type_Onepage</type_onepage>
                </rewrite>
            </checkout>
            <sales>
                <rewrite>
                    <order_address>Webgriffe_InvoiceRequest_Model_Sales_Order_Address</order_address>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <webgriffe_invoicerequest>
                <class>Webgriffe_InvoiceRequest_Block</class>
            </webgriffe_invoicerequest>
        </blocks>
        <helpers>
            <webgriffe_invoicerequest>
                <class>Webgriffe_InvoiceRequest_Helper</class>
            </webgriffe_invoicerequest>
        </helpers>
        <resources>
            <webgriffe_invoicerequest_setup>
                <setup>
                    <module>Webgriffe_InvoiceRequest</module>
                </setup>
            </webgriffe_invoicerequest_setup>
        </resources>

        <fieldsets>
            <sales_convert_quote>
                <invoice_request>
                    <to_order>*</to_order>
                </invoice_request>
            </sales_convert_quote>
        </fieldsets>
    </global>
    <frontend>
        <layout>
            <updates>
                <webgriffe_invoicerequest>
                    <file>webgriffe_invoicerequest.xml</file>
                </webgriffe_invoicerequest>
            </updates>
        </layout>
        <translate>
            <modules>
                <webgriffe_invoicerequest>
                    <files>
                        <default>Webgriffe_InvoiceRequest.csv</default>
                    </files>
                </webgriffe_invoicerequest>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <webgriffe_invoicerequest>
                    <files>
                        <default>Webgriffe_InvoiceRequest.csv</default>
                    </files>
                </webgriffe_invoicerequest>
            </modules>
        </translate>
    </adminhtml>
    <phpunit>
        <suite>
            <modules>
                <Webgriffe_InvoiceRequest/>
            </modules>
        </suite>
    </phpunit>
</config>
